body{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.container{
	text-align: center;
}
.sport-button{
	height: 100px;
	width: 200px;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 40px;
}

.game-table{
	margin-left: 100px;
}

.table.game-table{
	max-width: 80%;
}

.btn-rsvp{
	float:left;
}

.btn-player{
	margin-left:15px;
}

.btn.sport-button{
	padding-top: 28px;
}

.littlecrest{
	height:30px;
}

#crest{
	height: 150px;
	float: left;
}

.header{
	text-align: center;
	position: relative;
	height: 150px;
	width: 700px;
	margin: 0 auto;
}

h3{
	float: middle;
}

td{
	text-align: left;
}