body{
	background-color: blue;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.container{
	text-align: center;
}
.sport-button{
	height: 100px;
	width: 200px;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 40px;
}

.btn.sport-button{
	padding-top: 28px;
}

#crest{
	height: 150px;
	float: left;
}

#bgc{
	background-color: #fffef4;
}

.header{
	text-align: center;
	position: relative;
	height: 150px;
	width: 700px;
	margin: 0 auto;
}

h3{
	float: middle;
}