{% extends "base.html" %}
{% block content %}
	<div id="contact" class="container">
		<h4>
			<img class="littlecrest" src="../static/imgs/shield.jpeg">
			wassup intramural superstar.
			<img class="littlecrest" src="../static/imgs/shield.jpeg">
			<br><br>
			<img class="littlecrest" src="../static/imgs/shield.jpeg">
			if you'd like to report a bug, talk about the website,
			<img class="littlecrest" src="../static/imgs/shield.jpeg"><br>
			<img class="littlecrest" src="../static/imgs/shield.jpeg">
			or compliment me on my rugged good looks email
			<img class="littlecrest" src="../static/imgs/shield.jpeg"><br>
			<img class="littlecrest" src="../static/imgs/shield.jpeg">
			me at eric.ho@yale.edu
			<img class="littlecrest" src="../static/imgs/shield.jpeg">
		</h4>
	</div>


{% endblock %}