{% extends "header.html" %}
{% block content %}
  <div class="container">
  	<h1>
    {% if game.sport == 1%}
      men's soccer
    {% elif game.sport == 2%}
      women's soccer
    {% elif game.sport == 3%}
      men's football
    {% elif game.sport == 4%}
      coed football
    {% elif game.sport == 5%}
      table tennis
    {% elif game.sport == 6%}
      coed tennis
    {% elif game.sport == 7%}
      coed volleyball
    {% elif game.sport == 8%}
      golf
    {% elif game.sport == 9%}
      cross country
    {% elif game.sport == 10%}
      bowling
    {% elif game.sport == 11%}
      innertube water polo  
    {% elif game.sport == 12%}
      swimming
    {% elif game.sport == 13%}
      ice hockey
    {% elif game.sport == 14%}
      men's volleyball
    {% elif game.sport == 15%}
      women's volleyball
    {% elif game.sport == 16%}
      men's squash
    {% elif game.sport == 17%}
      women's squash
    {% elif game.sport == 18%}
      a hoops
    {% elif game.sport == 19%}
      b hoops
    {% elif game.sport == 20%}
      c hoops
    {% elif game.sport == 21%}
      women's hoops
    {% elif game.sport == 22%}
      softball
    {% elif game.sport == 23%}
      ultimate
    {% elif game.sport == 24%}
      golf
    {% elif game.sport == 25%}
      billiards
    {% elif game.sport == 26%}
      volleyball
    {% elif game.sport == 27%}
      badminton
    {% elif game.sport == 28%}
      coed soccer
    {% elif game.sport == 29%}
      dodgeball
    {% endif %}
    players {{game.date.month}}/{{game.date.day}} {{game.date.hour}}:{% if game.date.minute < 10 %}0{% endif %}{{game.date.minute}} vs. {{game.versus}}
    </h1>
    <a type="button" class="btn btn-primary btn-lg btn-player" href='/playerlist/{{game.id}}'>show player list</a>
    <br><br>
    <h4>
    {% for player in player_list %}
    	<img class="littlecrest" src="../static/imgs/shield.jpeg">
    	{{player}}
    	<br>
    {% endfor %}
	</h4>
  </div>
{% endblock %}
