{% extends "header.html" %}
{% block content %}
  <div class="container">
    <h1>let's get started</h1>
    <!-- this section is for fall sports -->
    <a role="button" class="btn btn-lg sport-button btn-primary" href="/sports/1">men's soccer</a>
    <a type="button" class="btn btn-lg sport-button btn-warning" href="/sports/2">women's soccer</a>
    <a type="button" class="btn btn-lg sport-button btn-success" href="/sports/28">coed soccer</a>
    <br>
    <a type="button" class="btn btn-lg sport-button btn-danger" href="/sports/3">men's football</a>
    <a type="button" class="btn btn-lg sport-button btn-info" href="/sports/4">coed football</a>
    <a type="button" class="btn btn-lg sport-button btn-primary" href="/sports/5">table tennis</a>
    <br>
    <a type="button" class="btn btn-lg sport-button btn-warning" href="/sports/6">coed tennis</a>
    <a type="button" class="btn btn-lg sport-button btn-success" href="/sports/7">coed volleyball</a>
    <a type="button" class="btn btn-lg sport-button btn-danger" href="/sports/8">golf</a>
    <!-- <a type="button" class="btn btn-lg sport-button btn-danger" href="/sports/9">cross country</a> -->
    <br>
    <a type="button" id="upcoming" class="btn btn-lg btn-info" href="/upcoming">upcoming games</a>
    <br><br>

    <!-- this section is for winter sports -->
		<!-- <a role="button" class="btn btn-lg sport-button btn-warning" href="/sports/10">bowling</a>
    <a type="button" class="btn btn-lg sport-button btn-primary" href="/sports/11">inntertube water polo</a>
    <a type="button" class="btn btn-lg sport-button btn-success" href="/sports/12">swimming</a>
    <a type="button" class="btn btn-lg sport-button btn-danger" href="/sports/13">ice hockey</a>
    <br>
    <a type="button" class="btn btn-lg sport-button btn-success" href="/sports/14">men's volleyball</a>
    <a type="button" class="btn btn-lg sport-button btn-info" href="/sports/15">women's volleyball</a>
    <a type="button" class="btn btn-lg sport-button btn-warning" href="/sports/16">men's squash</a>
    <a type="button" class="btn btn-lg sport-button btn-primary" href="/sports/17">women's squash</a>
    <br>
    <a type="button" class="btn btn-lg sport-button btn-warning" href="/sports/18">a hoops</a>
    <a type="button" class="btn btn-lg sport-button btn-danger" href="/sports/19">b hoops</a>
    <a type="button" class="btn btn-lg sport-button btn-success" href="/sports/20">c hoops</a>
    <a type="button" class="btn btn-lg sport-button btn-info" href="/sports/21">women's hoops</a>
    <br>
    <a type="button" id="upcoming2" class="btn btn-lg btn-primary" href="/upcoming">upcoming games</a>
    <br><br> -->

		<!-- this section is for spring sports -->
    <!-- <a role="button" class="btn btn-lg sport-button btn-warning" href="/sports/22">softball</a>
    <a type="button" class="btn btn-lg sport-button btn-primary" href="/sports/23">ultimate</a>
    <a type="button" class="btn btn-lg sport-button btn-success" href="/sports/24">golf</a>
    <a type="button" class="btn btn-lg sport-button btn-danger" href="/sports/25">billiards</a>
    <br>
    <a type="button" class="btn btn-lg sport-button btn-success" href="/sports/26">volleyball</a>
    <a type="button" class="btn btn-lg sport-button btn-info" href="/sports/27">badminton</a>
    <a type="button" class="btn btn-lg sport-button btn-warning" href="/sports/28">soccer</a>
    <a type="button" class="btn btn-lg sport-button btn-primary" href="/sports/29">dodgeball</a>
    <br>
    <a type="button" id="upcoming2" class="btn btn-lg btn-primary" href="/upcoming">upcoming games</a>
    <br><br> -->
  </div>
{% endblock %}
