{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h1>
    {% if sport == 1%}
      men's soccer
    {% elif sport == 2%}
      women's soccer
    {% elif sport == 3%}
      men's football
    {% elif sport == 4%}
      coed football
    {% elif sport == 5%}
      table tennis
    {% elif sport == 6%}
      coed tennis
    {% elif sport == 7%}
      coed volleyball
    {% elif sport == 8%}
      golf
    {% elif sport == 9%}
      cross country
    {% endif %}
    </h1>
    <br>
    <table class="table game-table">
      <thead>
        <th>DATE</th>
        <th>VS</th>
        <th>RSVP</th>
      </thead>
      <tbody>
        {% for game in games %}
          <tr>
            <td>{{game.date.month}}/{{game.date.day}}</td>
            <td>{{game.versus}}</td>
            <td>
              {% if game.id in game_list %}
                <form action="/unrsvp/{{game.id}}" method="POST">
                  <button type="submit" class="btn btn-warning btn-lg btn-rsvp">un-RSVP</button>
                </form>
              {% else %}
                <form action="/rsvp/{{game.id}}" method="POST">
                  <button type="submit" class="btn btn-primary btn-lg btn-rsvp">RSVP</button>
                </form>
              {% endif %}
              <a type="button" class="btn btn-primary btn-lg btn-player" href='/playerlist/{{game.id}}'>see player list</a>
            </td>
          </tr>
          </div>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}