{% extends "header.html" %}
{% block content %}
  <div class="container">
    <h1>
    {% if sport == 1%}
      men's soccer
    {% elif sport == 2%}
      women's soccer
    {% elif sport == 3%}
      men's football
    {% elif sport == 4%}
      coed football
    {% elif sport == 5%}
      table tennis
    {% elif sport == 6%}
      coed tennis
    {% elif sport == 7%}
      coed volleyball
    {% elif sport == 8%}
      golf
    {% elif sport == 9%}
      cross country
    {% endif %}
    </h1>
    <h5>
    {% if sport == 5 or sport == 6 or sport == 8 %}
      <br>
      note: for this sport, RSVP-ing will only express interest. check your email for spots on the roster
    {% endif %}
    </h5>
    <br>
    <table class="table game-table">
      <thead>
        <th>DATE</th>
        <th>VS</th>
        <th>RSVP</th>
        <th>RESULT</th>
      </thead>
      <tbody>
        {% for game in games %}
          <tr>
            <td>{{game.date.month}}/{{game.date.day}} {{game.date.hour}}:{% if game.date.minute < 10 %}0{% endif %}{{game.date.minute}}</td>
            <td>{{game.versus}}</td>
            <td>
              {% if game.id in game_list %}
                <form action="/unrsvp/{{game.id}}" method="POST">
                  <button type="submit" class="btn btn-warning btn-lg btn-rsvp">un-RSVP</button>
                </form>
              {% else %}
                <form action="/rsvp/{{game.id}}" method="POST">
                  <button type="submit" class="btn btn-primary btn-lg btn-rsvp">RSVP</button>
                </form>
              {% endif %}
              <a type="button" class="btn btn-primary btn-lg btn-player" href='/playerlist/{{game.id}}'>see player list</a>
            </td>
            <td>
              <h4>
              {% if game.win == 0 %}
                <span style="color:red">loss</span>
              {% elif game.win == 1 %}
                <span style="color:green">win</span>
              {% elif game.win == 3 %}
                <span style="color:blue">tie</span>
              {% else %}
                <span style="color:grey;font-style:italic">not played</span>
              {% endif %}
              </h4>
            </td>
          </tr>
          </div>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}