{% extends "header.html" %}
{% block content %}
<div class="container">
  <h2>
    current standings
  </h2>
  <table class="table standings-table" style="float:middle;">
    <thead>
      <th>place</th>
      <th>college</th>
      <th>points</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>TD</td>
        <td>496</td>
      </tr>
      <tr>
        <td>2</td>
        <td>DC</td>
        <td>442.5</td>
      </tr>
      <tr>
        <td>3</td>
        <td>JE</td>
        <td>356.5</td>
      </tr>
      <tr>
        <td>4</td>
        <td>BK</td>
        <td>349</td>
      </tr>
      <tr>
        <td>5</td>
        <td>TC</td>
        <td>317</td>
      </tr>
      <tr>
        <td>6</td>
        <td>ES</td>
        <td>294.5</td>
      </tr> 
      <tr>
        <td>7</td>
        <td>SY</td>
        <td>279.25</td>
      </tr>
      <tr>
        <td>8</td>
        <td>BR</td>
        <td>244</td>
      </tr>
      <tr>
        <td>9</td>
        <td>MC</td>
        <td>232</td>
      </tr> 
      <tr>
        <td>10</td>
        <td>CC</td>
        <td>196</td>
      </tr>
      <tr>
        <td>11</td>
        <td>SM</td>
        <td>194.5</td>
      </tr>
      <tr>
        <td>12</td>
        <td>PC</td>
        <td>91</td>
      </tr>     
    </tbody>
  </table>
  <h4> please note that standings may not be updated and that regardless of current totals, davenport will win </h4>
</div>

{% endblock %}