{% extends "header.html" %}
{% block content %}
<div class="container">
  <h2>
    current standings
  </h2>
  <table class="table standings-table" style="float:middle;">
    <thead>
      <th>place</th>
      <th>college</th>
      <th>points</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>TD</td>
        <td>797</td>
      </tr>
      <tr>
        <td>2</td>
        <td>DC</td>
        <td>751.5</td>
      </tr>
      <tr>
        <td>3</td>
        <td>JE</td>
        <td>674</td>
      </tr>
      <tr>
        <td>4</td>
        <td>BK</td>
        <td>597</td>
      </tr>
      <tr>
        <td>5</td>
        <td>TC</td>
        <td>591</td>
      </tr>
      <tr>
        <td>6</td>
        <td>SY</td>
        <td>501.25</td>
      </tr> 
      <tr>
        <td>7</td>
        <td>ES</td>
        <td>466</td>
      </tr>
      <tr>
        <td>8</td>
        <td>MC</td>
        <td>452.5</td>
      </tr>
      <tr>
        <td>9</td>
        <td>BR</td>
        <td>408.5</td>
      </tr> 
      <tr>
        <td>10</td>
        <td>CC</td>
        <td>382</td>
      </tr>
      <tr>
        <td>11</td>
        <td>SM</td>
        <td>327.5</td>
      </tr>
      <tr>
        <td>12</td>
        <td>PC</td>
        <td>152</td>
      </tr>     
    </tbody>
  </table>
  <h4> please note that standings may not be updated and that regardless of current totals, davenport will win </h4>
</div>

{% endblock %}