{% extends "base.html" %}
{% block content %}
  <div class="container">
  	<h1>
  		upcoming games
  	</h1>
 	<table class="table game-table">
      <thead>
      	<th>SPORT</th>
        <th>DATE</th>
        <th>VS</th>
        <th>RSVP</th>
        <th>RESULT</th>
      </thead>
      <tbody>
        {% for game in games %}
          <tr>
          	<td>
          		<h4>
			    {% if game.sport == 1%}
			      men's soccer
			    {% elif game.sport == 2%}
			      women's soccer
			    {% elif game.sport == 3%}
			      men's football
			    {% elif game.sport == 4%}
			      coed football
			    {% elif game.sport == 5%}
			      table tennis
			    {% elif game.sport == 6%}
			      coed tennis
			    {% elif game.sport == 7%}
			      coed volleyball
			    {% elif game.sport == 8%}
			      golf
			    {% elif game.sport == 9%}
			      cross country
			    {% endif %}
				</h4>
          	</td>
            <td>{{game.date.month}}/{{game.date.day}} {{game.date.hour}}:{% if game.date.minute < 10 %}0{% endif %}{{game.date.minute}}</td>
            <td>{{game.versus}}</td>
            <td>
              {% if game.id in game_list %}
                <form action="/unrsvp/{{game.id}}" method="POST">
                  <button type="submit" class="btn btn-warning btn-lg btn-rsvp">un-RSVP</button>
                </form>
              {% else %}
                <form action="/rsvp/{{game.id}}" method="POST">
                  <button type="submit" class="btn btn-primary btn-lg btn-rsvp">RSVP</button>
                </form>
              {% endif %}
              <a type="button" class="btn btn-primary btn-lg btn-player" href='/playerlist/{{game.id}}'>see player list</a>
            </td>
            <td>
              <h4>
              {% if game.win == 0 %}
                <span style="color:red">loss</span>
              {% elif game.win == 1 %}
                <span style="color:blue">win</span>
              {% else %}
                <span style="color:grey;font-style:italic">not played</span>
              {% endif %}
              </h4>
            </td>
          </tr>
          </div>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}